@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

body {
    /*noinspection CssInvalidPropertyValue*/
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a9a9a9;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.improve-scroll-bar {
    /*noinspection CssInvalidPropertyValue*/
    overflow: overlay;
}

.improve-scroll-bar::-webkit-scrollbar {
    width: 8px;
}

.improve-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a9a9a9;
}

.improve-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.filepond--root {
    max-height: 5em;
    min-width: 10em;
}

input[type=file]::file-selector-button {
    border: none;
    background: #6a717e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: rgb(66, 72, 80);
}
